.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10x;
    justify-content: center;
    background-color: #DAE5F5;
}

.right_container img {
    width: 626px;
    height: 313px;
    /* border: 2px solid black; */
}

.encrypted {
    position: relative;
    height: 320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
}

.encrypted img {
    width: 12px;
    height: 12px;
}

.right_container p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 550;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0px;
}

.encrypted p {
    position: absolute;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    bottom: 0;
    left: 30%;
}